.opacity_0 {
    opacity: 1;
}

.opacity_1 {
    opacity: 0.8;
}

.opacity_2 {
    opacity: 0.6;
}

.opacity_3 {
    opacity: 0.4;
}

.opacity_4 {
    opacity: 0;
}

// Для теста частично видимого элемента
// .opacity_H0 {
//     opacity: 1;
// }
// .opacity_H1 {
//     opacity: 0.6;
// }