.opacity_0 {
    opacity: 1;
}

.opacity_1 {
    opacity: 0.8;
}

.opacity_2 {
    opacity: 0.6;
}

.opacity_3 {
    opacity: 0.4;
}

.opacity_4 {
    opacity: 0;
}

//#1grn ScrollBar
// Скролл бар расположение
.os-scrollbar-vertical {
    left: auto;
    bottom: 0 !important;
    right: 0;
    top: 20px !important;
    height: 94%;
    background: transparent !important;
}

// ползунок
.os-scrollbar-handle {
    background-color: #f08b98 !important;
    border-radius: 24px;
    width: 4px;
}

// полоса прокрутки
.os-scrollbar-track {
    background-color: #fad8dd !important;
    transform: translate(-10px, 0px) !important;
    border-radius: 24px;
    width: 4px;
}

// ========= Стили скроллбара для textarea =========
.os-content>.os-textarea {
    background: #f08b980d !important;
    border: 2px solid #f08b984d !important;
    border-radius: 25px !important;
    margin-bottom: 10px !important;
}

.custom-theme>.os-content-glue {
    height: 246px !important;
}

.custom-theme>.os-scrollbar-vertical {
    left: auto;
    bottom: 0 !important;
    right: 0;
    top: 20px !important;
    height: 83%;
    background: transparent !important;
}

//#1grn Header menu button
.header__menu-btn {
    display: none;
    padding-left: 15px;
    width: 34px;
}

.header__menu-row {
    width: 100%;
    background-color: #000;
    height: 3px;
    margin-bottom: 4px;
}

.header__menu-row1 {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 50%;
    box-shadow: 0 0 1px #fff;
}

.header__menu-row2 {
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

.header__menu-row3 {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}