// #2pur +
@media (max-width: 1338px) {
    .background-item {
        margin: 0 10px;
    }
}

@media (max-width: 1225px) {
    .background-item--wrap .box_wrapper {
        flex-basis: calc(30% - 100px);
    }
    .background-item {
        bottom: -20%;
    }
    .wrap_box-blur {
        z-index: 1;
    }
}

// =============================================
@media (max-width: 1020px) {
    .background-item--wrap .box_wrapper {
        flex-basis: calc(25% - 30px);
    }
    .logo {
        display: none;
    }
    .logo_mobile {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 140px;
    }
    .background-wrapper .header__wrap {
        transform-origin: 50% 20%;
        transition: all 0.3s;
        transform: scaleY(0);
        position: absolute;
        top: 45px;
    }
    .header__menu-btn {
        display: block;
    }
    .menu_categor {
        flex-wrap: wrap;
    }
    .menu_list-1 {
        margin-left: 15px;
        border-top: 2px solid #F08B98;
    }
    .menu_list-3 {
        border-bottom: 2px solid #F08B98 !important;
    }
    .menu-arrow {
        transform: rotate( 0.75turn);
        position: absolute;
        right: 33px;
    }
    .background-wrapper .menu {
        display: block;
        position: absolute;
        top: 67px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        background-color: #fff;
    }
    .background-wrapper .menu-box {
        height: 67px;
    }
    .background-wrapper .menu_li {
        display: block;
        text-align: center;
        border-bottom: 1px solid #EAEAEA;
        margin-right: 15px;
        margin-left: 15px !important;
    }
    .background-wrapper .user {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 67px;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 2;
        background-color: #fff;
        top: 0;
    }
    .background-wrapper .user li {
        display: block;
        text-align: center;
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .background-wrapper .user li+li {
        border-left: 1px solid #EAEAEA;
        padding-left: 15%;
    }
    .basket_burg {
        display: block;
        position: absolute;
        right: 0;
        margin-right: 15px;
    }
    .menu_categor {
        z-index: 2;
    }
    .menu li:hover .menu-triangle {
        transform: none;
    }
    .menu_categor-photo {
        margin-bottom: 15px;
    }
    .menu_categor-box {
        flex-basis: calc(29% - 100px);
        margin-left: 15px;
        margin-right: 15px;
    }
    .menu li:hover .menu-triangle.menu_categor-2 {
        top: 137px;
    }
    .menu li:hover .menu-triangle.arrow-1::before {
        top: 59px;
    }
    .menu li:hover .menu-triangle.arrow-1::after {
        top: 61px;
    }
    .menu li:hover .menu-triangle.arrow-2::before {
        top: 127px;
    }
    .menu li:hover .menu-triangle.arrow-2::after {
        top: 129px;
    }
    .menu li:hover .menu-triangle.arrow-3::before {
        top: 195px;
    }
    .menu li:hover .menu-triangle.arrow-3::after {
        top: 197px;
    }
    .menu_categor.menu_categor-1 {
        top: 69px;
    }
    .menu_categor.menu_categor-2 {
        top: 137px;
    }
    .menu_categor.menu_categor-3 {
        top: 205px;
    }
}

@media (max-width: 850px) {
    .background-item--wrap .box_wrapper {
        flex-basis: calc(45% - 100px);
    }
    .background-item {
        bottom: -40%;
    }
    .background-text {
        font-size: 55px;
    }
}

@media (max-width: 813px) {
    .menu_categor-box {
        flex-basis: calc(32% - 100px);
    }
}

@media (max-width: 745px) {
    .menu_categor-box {
        flex-basis: calc(50% - 120px);
    }
    .menu_categor {
        overflow-Y: scroll;
        height: 50%;
    }
}

@media (max-width: 730px) {
    .background-item--text {
        width: 470px;
        font-size: 23px;
    }
    .background-text {
        font-size: 45px;
    }
}

// ————————==================== Mobile version ====================————————
@media (max-width: 599px) {
    .background-hat {
        background-color: #00000000;
    }
    .background-item--wrap .box_wrapper {
        flex-basis: calc(80% - 30%);
    }
    .background-item--text {
        width: 375px;
        font-size: 22px;
    }
    .background-video {
        display: none;
    }
    .background-img {
        background-image: url(../img/Bitmap.jpg);
        z-index: 0;
    }
    .background-img-mobile {
        opacity: 1;
    }
    .background-item {
        bottom: -72%;
    }
    .background-text {
        font-size: 40px;
    }
    .background-item--wrap .box-item_0 {
        background-image: url(../img/item_0.1.jpg);
    }
    .background-item--wrap .box-item_1 {
        background-image: url(../img/item_1.1.jpg);
    }
    .background-item--wrap .box-item_2 {
        background-image: url(../img/item_2.1.jpg);
    }
    .background-item--wrap .box-item_3 {
        background-image: url(../img/item_3.1.jpg);
    }
    .background-item--wrap .box-item_4 {
        background-image: url(../img/item_4.1.jpg);
    }
    .background-item--wrap .box-item_5 {
        background-image: url(../img/item_5.1.jpg);
    }
    .background-item--wrap .box-item_6 {
        background-image: url(../img/item_6.1.jpg);
    }
    .modal__window {
        width: 100%;
        border-radius: 0;
        height: 100%;
        position: relative;
    }
    .modal__window-zero {
        height: 30%;
        width: 100%;
    }
    .menu_categor-box {
        flex-basis: calc(62% - 120px);
    }
    .box_2 .form-group .fg-mr {
        width: 100%;
    }
    .box_2 .form-group #textarea {
        width: 100%;
        font-size: 16px;
    }
    .box_2 .fg-send {
        width: 100%;
    }
    .box_2 .form-group-end {
        margin-bottom: 25px;
    }
    .modal {
        margin-top: 70px;
        align-items: start;
        flex-direction: column;
    }
    .background-wrapper .menu {
        height: 100vh;
    }
}

@media (max-width: 525px) {}

@media (max-width: 450px) {
    .menu_categor-box {
        flex-basis: calc(60% - 100px);
    }
}

@media (max-width: 420px) {
    .menu_categor-box {
        flex-basis: calc(60% - 45px);
        align-items: center;
    }
    .box_2 .form-group #textarea {
        padding: 13px 26px 13px 20px !important;
    }
}

@media (max-width: 390px) {
    .background-item--text {
        width: 300px;
        padding: 0 20px;
    }
    .background-item--wrap .box-item {
        width: 145px;
    }
    .modal__window {
        padding-left: 10px;
        padding-right: 29px;
    }
}

@media (max-width: 325px) {
    .background-item--wrap .box_wrapper {
        flex-basis: calc(80% - 30%);
    }
    .background-item--text {
        width: 236px;
        line-height: 30px;
        padding: 0;
    }
    .background-text {
        font-size: 36px;
    }
    .background-item {
        bottom: -160%;
    }
}