// All 
@mixin fs500 {
    font-family: 'MuseoSansCyrl_500', '._MuseoSansCyrl_500';
    font-weight: 500;
}

@mixin f500 {
    font-family: 'Museo Cyrl 500', '._Museo Cyrl 500';
    font-weight: 500;
}

@mixin f700 {
    font-family: 'Museo Cyrl 700', '._Museo Cyrl 700';
    font-weight: 500;
}