@import 'vars';
@import 'fonts';
@import 'global';
@import 'animation';
// ============================
.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.wrap-box1 {
    height: 70px;
}

.wrap-box2 {
    height: 200px;
}

.wrap-box3 {
    position: relative;
    background-color: #fff;
    width: 1300px;
    height: 100px;
    margin: auto;
    bottom: -100px;
    // The tes line!
    // border: 3px dashed #ff9900;
}

.wrap-box4 {
    position: relative;
    background-color: #fff;
    width: 1300px;
    height: 100px;
    margin: auto;
    bottom: -100px;
    // The tes line!
    // border: 3px dashed #000000;
}

.wrap-box5 {
    position: relative;
    background-color: #fff;
    width: 1300px;
    height: 100px;
    margin: auto;
    bottom: -100px;
    // The tes line!
    // border: 3px dashed #ff9900;
}

.wrap-box6 {
    position: relative;
    background-color: #fff;
    width: 1300px;
    height: 100px;
    margin: auto;
    bottom: -100px;
    // The tes line!
    // border: 3px dashed #000000;
}

.background {
    &-hat {
        position: fixed;
        display: flex;
        align-items: center;
        height: 70px;
        width: 100%;
        // Прозрачность пришлось отключить из за наследования "выпадающим меню".
        // opacity: .9;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 1;
    }
    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-img {
        position: fixed;
        background-image: url(../img/bg_video.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    &-video {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -2;
    }
    &_center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
    }
    &-text {
        position: relative;
        @include f700;
        font-size: 72px;
        line-height: 84px;
        color: #fff;
        text-align: center;
    }
    &-btn {
        position: relative;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        &--click {
            @include f700;
            font-size: 16px;
            color: #fff;
            cursor: pointer;
            outline: none;
            border: none;
            width: 208px;
            height: 50px;
            background-color: #f08b98;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &-item {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        width: 1300px;
        height: 300px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50px 50px 0 0;
        &--text {
            @include f700;
            font-size: 28px;
            line-height: 34px;
            text-align: center;
            color: #000;
            width: 663px;
            margin-top: 25px;
            margin-bottom: 25px;
        }
        &--wrap {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            .box-item {
                @include fs500;
                font-size: 14px;
                line-height: 18px;
                width: 170px;
                height: 170px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding-left: 30px;
                padding-right: 30px;
                transition: all .4s;
                &:hover {
                    border-radius: 6px;
                    box-shadow: -1px -1px 5px #F08B98, 1px 1px 5px #F08B98, -1px 1px 5px #F08B98, 1px -1px 5px #F08B98;
                }
            }
            .box-item_wrap {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 75px;
                height: 75px;
                margin: 10px;
            }
            .box-item_0 {
                background-image: url(../img/item_0.0.jpg);
            }
            .box-item_1 {
                background-image: url(../img/item_1.0.jpg);
            }
            .box-item_2 {
                background-image: url(../img/item_2.0.jpg);
            }
            .box-item_3 {
                background-image: url(../img/item_3.0.jpg);
            }
            .box-item_4 {
                background-image: url(../img/item_4.0.jpg);
            }
            .box-item_5 {
                background-image: url(../img/item_5.0.jpg);
            }
            .box-item_6 {
                background-image: url(../img/item_6.0.jpg);
            }
        }
    }
}

.logo {
    &-h {
        background-image: url(../img/logo.svg);
        background-repeat: no-repeat;
        height: 50px;
        width: 139px;
        cursor: default;
    }
}

.menu {
    display: flex;
    &-link {
        display: flex;
        align-items: center;
    }
    &-box {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 70px;
    }
    li {
        &:hover .menu-triangle {
            transform: scaleX(1);
            &::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 60px;
                display: inline-block;
                border-right: 11px solid transparent;
                border-bottom: 11px solid #CCC;
                border-left: 10px solid transparent;
                border-bottom-color: #F08B98;
            }
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                top: 62px;
                display: inline-block;
                border-right: 10px solid transparent;
                border-bottom: 10px solid white;
                border-left: 10px solid transparent;
            }
        }
    }
    .menu_li+.menu_li {
        margin-left: 30px;
    }
    &-num {
        @include f500;
        font-size: 16px;
    }
    &-arrow {
        display: flex;
        align-items: center;
        margin-left: 5px;
        width: 10px;
        height: 4px;
    }
    &-ico_0 {
        background-image: url(../img/cosmetics_0.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 8px;
        width: 30px;
        height: 32px;
    }
    &-ico_1 {
        background-image: url(../img/cosmetics_1.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 8px;
        width: 30px;
        height: 32px;
    }
    &-ico_2 {
        background-image: url(../img/cosmetics_2.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 8px;
        width: 30px;
        height: 32px;
    }
    &-ico_3 {
        background-image: url(../img/cosmetics_3.svg);
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 8px;
        width: 30px;
        height: 32px;
    }
    &_categor {
        position: absolute;
        display: flex;
        justify-content: space-around;
        top: 70px;
        left: 0;
        border-radius: 1px;
        transform: scaleY(0);
        transform-origin: 50% 0;
        height: 260px;
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #F08B98;
        z-index: -1;
        transition: all .3s;
        overflow: hidden;
        &-photo {
            padding-top: 30px;
            .red-line {
                position: absolute;
                height: 200px;
                left: -15px;
                width: 1px;
                border: 1px solid rgba(240, 139, 152, 0.15);
            }
            .photo {
                background-image: url(../img/Group_0.0.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 220px;
                height: 132px;
            }
            .title {
                @include f700;
                font-size: 16px;
                line-height: 19px;
                color: #000;
                position: absolute;
                top: 50px;
                width: 140px;
                padding-left: 16px;
            }
            .text {
                @include f500;
                font-size: 14px;
                line-height: 18px;
                color: #000;
                position: absolute;
                top: 95px;
                width: 159px;
                padding-left: 16px;
            }
        }
        .box-2 {
            position: relative;
        }
        .box-3 {
            position: relative;
        }
        .box-4 {
            position: relative;
        }
        .box-5 {
            position: relative;
        }
        &-box {
            display: flex;
            align-items: start;
            flex-direction: column;
            padding-top: 30px;
            .red-line {
                position: absolute;
                height: 200px;
                left: -15px;
                width: 1px;
                border: 1px solid rgba(240, 139, 152, 0.15);
            }
            .name-categor {
                @include f700;
                font-size: 16px;
                line-height: 24px;
                color: #000;
            }
            li+li {
                margin-top: 20px;
            }
        }
        &-element {
            display: inline-block;
            position: relative;
            @include fs500;
            font-size: 14px;
            line-height: 22px;
            color: #000;
            &:hover a {
                transition: all .2s;
                color: #f08b98;
            }
            .name-line {
                position: absolute;
                width: 100%;
                border-radius: 50px;
                mix-blend-mode: normal;
                opacity: 0.3;
                border: 1px solid #FA7385;
            }
        }
    }
    &_li {
        &:hover {
            transition: all .5s;
            .menu-num {
                transition: all .5s;
                color: #F08B98;
            }
            .menu-arrow {
                transition: all .5s;
                -o-transform: scaleY(-1);
                -ms-transform: scaleY(-1);
                -moz-transform: scaleY(-1);
                -webkit-transform: scaleY(-1);
                transform: scaleY(-1);
                svg {
                    path {
                        stroke: #F08B98;
                    }
                }
            }
        }
    }
    &_list-1 {
        &:hover .menu_categor-1 {
            transition: all .3s;
            transform: scaleX(1);
        }
    }
    &_list-2 {
        &:hover .menu_categor-2 {
            transition: all .3s;
            transform: scaleX(1);
        }
    }
    &_list-3 {
        &:hover .menu_categor-3 {
            transition: all .3s;
            transform: scaleX(1);
        }
    }
}

.user {
    display: flex;
    li {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    li+li {
        margin-left: 20px;
    }
    .basket {
        width: 30px;
        height: 26px;
        &:hover {
            svg {
                path {
                    stroke: #F08B98;
                    fill: #F08B98;
                }
            }
        }
    }
    .favorites {
        width: 30px;
        height: 26px;
        &:hover {
            svg {
                path {
                    stroke: #F08B98;
                    fill: #F08B98;
                }
            }
        }
    }
    .profile {
        width: 30px;
        height: 26px;
        &:hover {
            svg {
                path {
                    stroke: #F08B98;
                    fill: #F08B98;
                }
            }
        }
    }
}

// Forma
// ===========================================================================
.box_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .title {
        @include f700;
        font-size: 28px;
        line-height: 34px;
        color: #000;
    }
    .close {
        position: relative;
        width: 25px;
        height: 25px;
        &:before {
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
        &:hover {
            opacity: 1;
        }
    }
    .close:before,
    .close:after {
        position: absolute;
        left: 12px;
        content: "";
        height: 25px;
        width: 2px;
        background-color: #333;
    }
}

.box_2 {
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        .form-text {
            @include f500;
            font-size: 16px;
            line-height: 18px;
            color: #000;
            margin-bottom: 5px;
        }
        .fg-mr {
            // width: 100%;
            width: 440px;
            min-width: 45%;
            height: 50px;
            background-color: rgba(240, 139, 152, 0.05);
            border: 2px solid #F08B98;
            box-sizing: border-box;
            border-radius: 100px;
            outline: none;
            padding-left: 20px;
            padding-right: 20px;
            @include f500;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }
        #textarea {
            // position: relative;
            // width: 100%;
            // height: 100%;
            width: 440px;
            height: 246px;
            background-color: rgba(240, 139, 152, 0.05);
            border: 2px solid rgba(240, 139, 152, 0.3);
            box-sizing: border-box;
            border-radius: 25px;
            outline: none;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 13px;
            padding-bottom: 13px;
            @include f500;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
            margin-bottom: 10px;
            resize: none;
        }
    }
    .form-group-end {
        display: flex;
        position: relative;
        margin-bottom: 10px;
        .form-text {
            width: 407px;
            height: 48px;
            @include fs500;
            font-size: 12px;
            line-height: 16px;
            margin-left: 35px;
        }
        .checkbox {
            position: absolute;
            left: 0;
            z-index: -1;
            opacity: 0;
        }
        // Создадим поддельный чекбокс
        .checkbox+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }
        .checkbox+label::before {
            content: '';
            position: absolute;
            left: 2px;
            top: -5px;
            display: inline-block;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            flex-grow: 0;
            border: 2px solid #F08B98;
            border-radius: 6px;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
        // Cтили при нахождении элемента в состоянии checked
        .checkbox:checked+label::before {
            border-color: #F08B98;
            background-color: #F08B98;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }
        // Стили чекбокса при нахождении его в состояниях hover, active, focus и disabled.
        /* Стили при наведении курсора на checkbox */
        .checkbox:not(:disabled):not(:checked)+label:hover::before {
            border-color: #F08B98;
        }
        /* Стили для активного состояния чекбокса (при нажатии на него) */
        .checkbox:not(:disabled):active+label::before {
            background-color: #FAD8DD;
            border-color: #FAD8DD;
        }
        /* Стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
        .checkbox:focus:not(:checked)+label::before {
            border-color: #F08B98;
        }
    }
    .fg-send {
        width: 300px;
        height: 50px;
        background-color: #F08B98;
        border-radius: 100px;
        color: #ffffff;
        @include f500;
        font-size: 16px;
        line-height: 18px;
        border: 1px solid #F08B98;
        text-align: center;
        position: relative;
        cursor: pointer;
        outline: none;
    }
}

// CSS modal window (pop-up)
// ===========================================================================
.modal__window {
    position: fixed;
    z-index: 2;
    width: 504px;
    height: 560px;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 0px 20px 30px;
    .box {
        height: 1000px;
    }
}

#modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
}

#modal:not(:target) {
    visibility: hidden;
    opacity: 0;
}

// ===========================================================================
// #1grn  cookie - end
@import 'media';